/* banner */
.banner {
  text-align: center;
  height: 420px;
  overflow: hidden;
}
.banner .banner-container {
  height: 420px;
  position: relative;
}
.banner .banner-container .swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.banner .banner-container .swiper-wrapper .swiper-slide {
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 1903px;
  height: 420px;
}
.banner .banner-container .swiper-wrapper .swiper-slide a {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(https://s1.miniso.cn/bsimg/ec/public/images/5a/ae/5aaea8de41523b9ea6c7b2eb3dc23929.jpg);
}
.banner .banner-container .swiper-wrapper .swiper-slide-active {
  z-index: 10;
}

.banner-x {
  height: 420px;
  position: relative;
}
.banner-x ul {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-x ul li {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 420px;
  font-size: 100px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.banner-x ul li img {
  height: 100%;
  text-align: center;
}
.banner-x ul li.active {
  opacity: 1;
}
.banner-x ol {
  width: 175px;
  height: 25px;
  padding-top: 5px;
  padding-right: 15px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  margin-left: -93px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.banner-x ol li {
  width: 20px;
  height: 20px;
  float: left;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}
.banner-x ol li.active {
  background-color: #d9232e;
}

.floorNew .x-space60 {
  padding: 60px 0;
}
.floorNew .whiteBoard {
  background-color: #fff;
}
.floorNew .whiteBoard .channelTitle {
  width: 100%;
  line-height: 50px;
}
.floorNew .whiteBoard .channelTitle h1, .floorNew .whiteBoard .channelTitle span, .floorNew .whiteBoard .channelTitle a {
  display: inline-block;
}
.floorNew .whiteBoard .channelTitle h1 {
  font-weight: 100;
  font-size: 28px;
  line-height: 28px;
  padding-right: 18px;
}
.floorNew .whiteBoard .channelTitle span {
  font-size: 14px;
}
.floorNew .whiteBoard .channelTitle a {
  font-size: 14px;
  float: right;
}
.floorNew .whiteBoard .swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper {
  width: 3582px;
  height: 353px;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide {
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .x-itemCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide {
  align-items: self-start;
  width: 1194px;
  height: 353px;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList {
  width: 1092px;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item {
  text-align: center;
  width: 263px;
  float: left;
  margin-right: 10px;
  height: 390px;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item .imgbox {
  background-color: #f2f2f2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  width: 263px;
  height: 263px;
  overflow: hidden;
  background-color: #F4F4F4;
  margin-bottom: 10px;
  vertical-align: middle;
  position: relative;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item .imgbox img {
  vertical-align: middle;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: 1s all;
  transition: 1s all;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item .imgbox .leftTop {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 5;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item .tagBox {
  height: 20px;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item .tagBox span {
  display: inline-block;
  font-size: 14px;
  color: #d9232e;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item .tagBox .tag {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 0 6px;
  background-color: #C7A582;
  margin: 0 auto;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item a {
  display: inline-block;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 168px;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .itemList .item span {
  display: inline-block;
  font-size: 14px;
  color: #d9232e;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .clearfix {
  zoom: 1;
}
.floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .clearfix::after, .floorNew .whiteBoard .swiper-container .swiper-wrapper .swiper-slide .clearfix::before {
  line-height: 0;
  visibility: hidden;
  clear: both;
  zoom: 1;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.floorNew .whiteBoard .swiper-container .btnBar {
  z-index: 10;
  width: 1194px;
  background-color: red;
}
.floorNew .whiteBoard .swiper-container .btnBar .button-next, .floorNew .whiteBoard .swiper-container .btnBar .button-prev {
  width: 52px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 50%;
  background: url(../images/next1.png) center center no-repeat;
}
.floorNew .whiteBoard .swiper-container .btnBar .button-prev {
  margin-left: -597px;
  background-image: url(../images/prev1.png);
}
.floorNew .whiteBoard .swiper-container .btnBar .button-next, .floorNew .whiteBoard .swiper-container .btnBar .button-prev {
  z-index: 5;
  top: 0;
  width: 52px;
  height: 353px;
  background: url(../images/prev2.png) left 116px no-repeat #fff;
}
.floorNew .whiteBoard .swiper-container .btnBar .button-next {
  margin-left: 545px;
  background-image: url(../images/next2.png);
  background-position-x: right;
}
.floorNew .whiteBoard .product-container {
  position: relative;
  width: 1194px;
  height: 353px;
}

.floorHot .clearfix {
  zoom: 1;
}
.floorHot .clearfix::after, .floorHot .clearfix::before {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
.floorHot .clearfix:after, .floorHot .clearfix:before {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.floorHot .clearfix:after {
  clear: both;
}
.floorHot .x-channelTitle {
  width: 100%;
  line-height: 50px;
}
.floorHot .x-channelTitle h1 {
  font-weight: 100;
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  padding-right: 18px;
}
.floorHot .x-channelTitle a {
  font-size: 14px;
  float: right;
}
.floorHot .itemList {
  width: 1092px;
}
.floorHot .itemList .item {
  text-align: center;
  width: 263px;
  float: left;
  margin-right: 10px;
  height: 390px;
}
.floorHot .itemList .item a {
  display: inline-block;
}
.floorHot .itemList .item .imgbox {
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.floorHot .itemList .item .imgbox {
  display: inline-block;
  width: 263px;
  height: 263px;
  overflow: hidden;
  background-color: #F4F4F4;
  margin-bottom: 10px;
  vertical-align: middle;
  position: relative;
}
.floorHot .itemList .item .imgbox img {
  vertical-align: middle;
  height: 100%;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: 1s all;
  transition: 1s all;
}
.floorHot .itemList .item .imgbox .img_lazyloaded {
  background: #FFF;
}
.floorHot .itemList .item .imgbox .x-Ptag {
  width: 20px;
  position: absolute;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  top: 10px;
  left: 16px;
  border: 1px solid #C7A582;
  color: #C7A582;
  padding: 4px 1px 4px 2px;
}
.floorHot .itemList .item .imgbox .leftTop {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 5;
  left: 0;
  top: 0;
}
.floorHot .itemList .item span {
  font-size: 14px;
  color: #d9232e;
}
.floorHot .itemList .item .tagBox {
  height: 20px;
}
.floorHot .itemList .item .tagBox .tag {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 0 6px;
  background-color: #C7A582;
  margin: 0 auto;
}
.floorHot .itemList .item a {
  display: inline-block;
}
.floorHot .itemList .item .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 168px;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
}
.floorHot .popularity {
  height: 568px;
}
.floorHot .popularity .item {
  width: 219px;
  margin-bottom: 10px;
  background-color: #fff;
  height: 290px !important;
}
.floorHot .popularity .item .imgbox {
  width: 219px;
  margin-bottom: 10px;
  background-color: #fff;
  height: 179px;
  border-bottom: 1px solid #F4EDE6;
}
.floorHot .popularity .firstItem {
  width: 394px;
  height: 590px !important;
  padding: 0;
  margin-right: 10px;
}
.floorHot .popularity .firstItem .imgbox {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
}
.floorHot .popularity .firstItem .tagBox {
  height: 20px;
  margin-bottom: 19px;
}
.floorHot .popularity .firstItem span {
  font-size: 18px;
}

.whiteBoard {
  background-color: #fff;
}
.whiteBoard .clearfix {
  zoom: 1;
}
.whiteBoard .clearfix::after, .whiteBoard .clearfix::before {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
.whiteBoard .clearfix:after, .whiteBoard .clearfix:before {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.whiteBoard .clearfix:after {
  clear: both;
}
.whiteBoard .x-pb60 {
  padding-bottom: 60px;
}
.whiteBoard .x-pb60 .x-channelTitle {
  width: 100%;
  line-height: 50px;
}
.whiteBoard .x-pb60 .x-channelTitle .x-channelTitle a, .whiteBoard .x-pb60 .x-channelTitle .x-channelTitle h1, .whiteBoard .x-pb60 .x-channelTitle .x-channelTitle span, .whiteBoard .x-pb60 .x-channelTitle .x-channelTitle ul {
  vertical-align: text-bottom;
}
.whiteBoard .x-pb60 .x-channelTitle a {
  font-size: 14px;
  float: right;
}
.whiteBoard .x-pb60 .x-channelTitle a {
  display: inline-block;
}
.whiteBoard .x-pb60 .x-channelTitle h1 {
  font-weight: 100;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 28px;
  line-height: 28px;
  padding-right: 18px;
}
.whiteBoard .x-pb60 .x-channelTitle ul {
  display: inline-block;
  vertical-align: text-bottom;
  height: 17px;
}
.whiteBoard .x-pb60 .x-channelTitle ul li {
  float: left;
  padding-right: 16px;
}
.whiteBoard .x-pb60 .x-channelTitle ul li div {
  vertical-align: text-bottom;
}
.whiteBoard .x-pb60 .x-channelTitle .x-pt15 {
  padding-top: 13px;
}
.whiteBoard .x-pb60 .banner2 {
  width: 1090px;
  height: 310px;
  overflow: hidden;
  margin-bottom: 10px;
}
.whiteBoard .x-pb60 .banner2 a {
  display: inline-block;
}
.whiteBoard .x-pb60 .banner2 a img {
  vertical-align: middle;
  background: #FFF;
  width: 100%;
}
.whiteBoard .x-pb60 .itemList {
  width: 1092px;
}
.whiteBoard .x-pb60 .itemList .item {
  text-align: center;
  width: 263px;
  float: left;
  margin-right: 10px;
  height: 390px;
}
.whiteBoard .x-pb60 .itemList .item a {
  display: inline-block;
}
.whiteBoard .x-pb60 .itemList .item .imgbox {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.whiteBoard .x-pb60 .itemList .item .imgbox {
  text-align: center;
  display: inline-block;
  width: 263px;
  height: 263px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 10px;
  vertical-align: middle;
  position: relative;
}
.whiteBoard .x-pb60 .itemList .item .imgbox img {
  vertical-align: middle;
  height: 100%;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: 1s all;
  transition: 1s all;
}
.whiteBoard .x-pb60 .itemList .item .imgbox .img_lazyloaded {
  background: #FFF;
}
.whiteBoard .x-pb60 .itemList .item .imgbox .x-Ptag {
  width: 20px;
  position: absolute;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  top: 10px;
  left: 16px;
  border: 1px solid #C7A582;
  color: #C7A582;
  padding: 4px 1px 4px 2px;
}
.whiteBoard .x-pb60 .itemList .item .imgbox .leftTop {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 5;
  left: 0;
  top: 0;
}
.whiteBoard .x-pb60 .itemList .item span {
  font-size: 14px;
  color: #d9232e;
}
.whiteBoard .x-pb60 .itemList .item .tagBox {
  height: 20px;
}
.whiteBoard .x-pb60 .itemList .item .tagBox .tag {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 0 6px;
  background-color: #C7A582;
  margin: 0 auto;
}
.whiteBoard .x-pb60 .itemList .item a {
  display: inline-block;
}
.whiteBoard .x-pb60 .itemList .item .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 168px;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
}

.px60T {
  padding-top: 60px !important;
}

.x-space60 {
  padding: 60px 0;
}

.x-row {
  background-color: #f4f4f4;
}

.hide {
  display: none;
}

.lou_nav {
  width: 50px;
  height: 320px;
  box-sizing: border-box;
  position: fixed;
  left: 20px;
  top: 75%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  border: 1px solid #d9232e;
  background-color: #d9232e;
  color: #fff;
  z-index: 1;
}
.lou_nav li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.lou_nav li.active {
  background-color: #fff;
  color: #d9232e;
}

/*# sourceMappingURL=index.css.map */
